.p {
  width: 40vh;
  height: 40vh;
  margin: 20px 10px;
  border: 3px solid rgb(154, 149, 149);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 8px 5px 10px gray;
  overflow: hidden;
  .p span{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    }
  }

.p-browser {
  height: 20px;
  background-color: rgb(154, 149, 149);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.p-desc {
  height: 100%;
  width: 100%;
  object-fit: contain;
  cursor: pointer;
}

.p-hover {
  height: 100%;
  width: 100%;
  align-content: space-around;
  filter: brightness(90%);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  color: white;

  h1 {
    top: 50;
    padding: 30px 30px;
    font-size: 28px;
    transition: transform 350ms ease;
  }

  p {
    font-size: 18px;
    transition: transform 350ms ease;
    padding: 0px 30px;
  }
}

@media screen and (max-width: 480px) {
  .p {
    width: 35%;
    height: 25%;
  }
}
