@import '../../global.scss';

.projects{
  background-color: $maincolor;
  height: 100vh;
  height: 100vh;
  flex: none;
  display: flex;
  scroll-snap-align: start;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  @include mobile {
    height: 100vh;
    justify-content: start;
  }

  .pl {
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include mobile {
      height: 70vh;
      padding: 0px 0px;
    }

    .pl-texts {
      width: 100%;
    }

    .pl-title {
      font-size: 40px;
      font-weight: 700;
    }

    .pl-desc {
      margin: 20px 0px;
    }

    .pl-list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media screen and (max-width: 992px) {
  .pl-title {
    font-size: 28px;
  }
  .pl-list {
    max-height: 100%;
    max-width: auto;
  }
}
