@import "../../global.scss";

.skills {
  background-color: $maincolor;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .title h1{
    // justify-content: center;
  }

  #skills{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-top: 12.5%;
  }

  .links.container{
    width: 80vw;

    .progress_bar__container{
      width: 500px;

      .items{
        padding-bottom: 100px;
      }
    }
  }
}
