@import "../../global.scss";

.skills {
  background-color: $maincolor;
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mobile {
    padding-left: 20px;
    justify-content: center;
  }

  .title h1{
    text-align: center;
    overflow: none;
    font-size: 40px;
    font-weight: 700;
    @include mobile {
      font-size: 40px;
    }
  }

  #icon-cloud {
    @include mobile {
      // width: 90vw;
    }
  }
}
