// @import '../navbar/navbar.scss';
// @import '../footer/Footer.scss';
@import '../../global.scss';

.about {
  // background-color: #e0e0e0;
  background-color: $maincolor;
  max-width: 100%;
  height:100vh;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar{
    display:none;
  }

  > * & {
    background-color: #e0e0e0;
    overflow: hidden;
  }
  .aboutContainer{
    top:12.5%;
    bottom:87.5%;
    height: 75%;
    text-align: center;
    position: relative;

    .container {
      width: 1200px;
      display: flex;

      .left {
        flex: 0.5;
        overflow: hidden;
        background-color: violet;

        .imgContainer {
          display: flex;
          position: relative;
          // justify-content: center;
          // align-items: center;
          width: 300px;
          height: 600px;
          // object-fit: contain;
          // text-align: center;

          img {
            position: absolute;
            justify-content: center;
            align-items: center;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
          }
        }
      }

      .right {
        flex: 0.5;
        background-color: salmon;
        flex-direction: column;
        overflow: hidden;
        font-size: 20px;

        & > * {
          overflow: hidden;
        }
      }
    }
  }
}


// BR as diamond
// clip-path: polygon(100% 100%, 100% 100%, 100% 100%)
