.about {
  background-color: #e0e0e0;
  // padding: 15px;

  .container {
    display: flex;

    .left {
      flex: 0.5;
      background-color: green;
      overflow: hidden;

      .imgContainer {
        width: 300px;
        height: 300px;
        object-fit: contain;
        text-align: center;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    .right {
      flex: 0.5;
      background-color: salmon;
      overflow: hidden;
    }
  }
}
