@import '../../global.scss';

.about{
  background-color: $maincolor;
  height: 100vh;
  align-items: center;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar{
    display:none;
  }

  & > * {
    overflow-y: hidden;
  }

  .about_container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    // text-align: center;

    @include mobile {
      flex-direction: column;
    }

    .about_left {
      display: flex;
      justify-content: center;
      flex: 0.5;
      overflow: hidden;
      padding: 20px;
      filter: drop-shadow(-5px 0 0.3rem gray);
      padding-left: 30px;

      @include mobile {
        align-items: center;
      }

      img {
        width: 100%;
        max-width: 500px;
        height: auto;
        object-position: right;
        border-radius: 35%;
        // transform: scaleX(-1); Flip image

        @include mobile {
          border-radius: 20px;
          width: 100%;
          max-width: 200px;
          height: auto;
          align-items: center;
          overflow-y: hidden;
        }
      }
    }

    .about_right {
      display: flex;
      flex: 0.7;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      font-size: 20px;
      padding: 50px 0px;
      padding-right: 100px;
      line-height: 1.9;
      .about_right:nth-child(-1){
        display: flex;
      }
      @include mobile {
        text-align: center;
        line-height: 1.4;
        font-size: 12px;
        padding: 0px 0px;

      h1 {
        font-size: 28px;
        // margin-left: 200px;
        justify-content: center;
        text-align: justify;
      }

        .typed_wrapper {
          display: flex;
          justify-content: space-evenly;
          width: auto;
          justify-content: start;
          flex: 0.3;
          justify-content: start;
        }

        #typed_right {
          padding: 100px;
          flex: 0.7;
          justify-content: center;
          width: 200px;
        }
      }
    }
  }
}
// BR as diamond
// clip-path: polygon(100% 100%, 100% 100%, 100% 100%)
