// @import '../navbar/navbar.scss';
// @import '../footer/Footer.scss';
@import '../../global.scss';

.about {
  // background-color: #e0e0e0;
  top:12.5%;
  bottom:87.5%;
  height: 75%;
  background-color: $maincolor;
  height:100vh;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: none;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar{
    display:none;
  }

  > * & {
    overflow-y: hidden;
    bottom:87.5%;
    height: 75%;
  }
  .aboutContainer{
    top:12.5%;
    bottom:87.5%;
    height: 75%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: sticky;

    .container {
      display: flex;

      & > * {
        padding:15px;
      }


      .left {
        display: flex;
        justify-content: center;
        flex: 0.5;
        overflow: hidden;
        filter: drop-shadow(-5px 0 0.3rem gray);


        .imgContainer {
          display: flex;
          position: relative;
          // justify-content: center;
          // align-items: center;
          // object-fit: contain;
          // text-align: center;
          object-fit:cover;

          img {
            height: 500px;
            border-radius: 50%;
            object-position: right;
            // max-height: 100%;
          }
        }
      }

      .right {
        flex: 0.5;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        font-size: 20px;
        text-align: left;
        object-position: center;

        & > * {
          overflow: hidden;
        }
      }
    }
  }
}


// BR as diamond
// clip-path: polygon(100% 100%, 100% 100%, 100% 100%)
