// @import '../navbar/navbar.scss';
// @import '../footer/Footer.scss';
@import '../../global.scss';

.about {
  // background-color: #e0e0e0;
  top:12.5%;
  bottom:87.5%;
  background-color: $maincolor;
  height:100vh;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: none;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar{
    display:none;
  }

  > * & {
    overflow-y: hidden;
  }
  
  .aboutContainer{
    top:12.5%;
    bottom:87.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: sticky;

    @include mobile {
      top:20%;
      bottom:80%;

      h1{
        font-size: 16px;
      }
    }

    .container {
      display: flex;
      flex-direction: row;

      @include mobile {
        flex-direction: column;
        align-items: center;
        height: 75vh;
      }

      .left {
        display: flex;
        justify-content: center;
        flex: 0.5;
        overflow: hidden;
        padding: 20px;
        filter: drop-shadow(-5px 0 0.3rem gray);

        @include mobile {
          flex: 0.5;
          align-items: center;
          // height: 225px;
          // width: 100%;
          // max-width: 300px;
          // height: auto;
        }

        img {
          width: 100%;
          max-width: 500px;
          height: auto;
          object-position: right;

          @include mobile {
            border-radius: 20px;
            width: 100%;
            max-width: 225px;
            height: auto;
            align-items: center;
            overflow-y: hidden;
          }
        }
      }

      .right {
        display: flex;
        flex: 0.5;
        // flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        font-size: 20px;
        text-align: left;
        // object-position: center;
        vertical-align: middle;
        display: inline-block;



        @include mobile {
          font-size: 14px;
        }
      }
    }
  }
}


// BR as diamond
// clip-path: polygon(100% 100%, 100% 100%, 100% 100%)
