@import '../../global.scss';

.about {
  background-color: $maincolor;
  height: 100vh;
  align-items: center;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar{
    display:none;
  }

  & > * {
    overflow-y: hidden;
  }

  .about_container {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;

    .about_left {
      display: flex;
      justify-content: center;
      flex: 0.5;
      overflow: hidden;
      padding: 20px;
      filter: drop-shadow(-5px 0 0.3rem gray);
      padding-left: 30px;

      img {
        width: 100%;
        max-width: 500px;
        height: auto;
        object-position: right;
        border-radius: 35%;
        // transform: scaleX(-1); Flip image

      }
    }

    .about_right {
      display: flex;
      flex: 0.7;
      flex-direction: column;
      overflow: hidden;
      font-size: 20px;
      padding: 50px 0px;
      padding-right: 100px;
      line-height: 1.9;
      .typed_wrapper{
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 480px) {

  .about{
    height: 100vh;
    display: flex;
    justify-content: center;
    .about_container {
      height: 85vh;
      width: 75vw;
      margin-top: 100px;
      justify-content: center;
      // padding-top: 15%;
      flex-direction: column;

      .about_left {
        width: 75%;
        height: 75%;
        display: flex;
        align-items: center;
        img{
          max-width: 300px;
          height: auto;
          align-items: end;
          overflow-y: hidden;
        }
      }

      .about_right{
        text-align: left;
        line-height: 1.2;
        font-size: 12px;
        padding: 0px 0px;

        h1 {
          font-size: 20px;
          justify-content: center;
          text-align: justify;
        }
      }
    }
  }
}
// BR as diamond
// clip-path: polygon(100% 100%, 100% 100%, 100% 100%)
