@import '../../global.scss';

.about{
  background-color: $maincolor;
  height: 100vh;
  align-items: center;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar{
    display:none;
  }

  & > * {
    overflow-y: hidden;
  }

  .about_container{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    // text-align: center;

    @include mobile {
      flex-direction: column;

      h1{
        font-size: 16px;
        margin-left: 100px;
      }
    }

    .about_left {
      display: flex;
      justify-content: center;
      flex: 0.5;
      overflow: hidden;
      padding: 20px;
      filter: drop-shadow(-5px 0 0.3rem gray);
      padding-left: 30px;

      @include mobile {
        align-items: center;
      }

      img {
        width: 100%;
        max-width: 500px;
        height: auto;
        object-position: right;
        border-radius: 35%;
        // transform: scaleX(-1); Flip image

        @include mobile {
          border-radius: 20px;
          width: 100%;
          max-width: 200px;
          height: auto;
          align-items: center;
          overflow-y: hidden;
        }
      }
    }

    .about_right {
      display: flex;
      flex: 0.7;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      overflow: hidden;
      font-size: 20px;
      padding: 50px 0px;
      padding-right: 30px;
      line-height: 1.8;
      text-align: left;

      @include mobile {
        text-align: center;
        line-height: 1.4;
        font-size: 12px;
        padding: 0px 0px;

        h1 {
          justify-content: center;
          align-items: center;
          margin-left: 100px;
        }

        .typed-text {
          position: fixed;
          @include mobile {
            font-size: 14px;
          }
        }
      }
    }
  }
}
// BR as diamond
// clip-path: polygon(100% 100%, 100% 100%, 100% 100%)
