@import "../../global.scss";

.contact {
  background-color: $maincolor;
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .contact_container {
    top: 12.5%;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include mobile{
      flex: none;
      flex-direction: column;
    }

    .contact_left {
    overflow: hidden;
    justify-content: start;
    align-items: start;
    margin: 30px;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h4{
      font-style: italic;
      font-size: 48px;
      margin: 30px;
      text-align: right;
      font: italic small-caps bold 48px;

      @include mobile{
        font-size: 36px;
        margin: 5px;
        margin-bottom: 20px;
      }
    }

    h5 {
      top: 0%;
      font-style: italic;
      font-size: 32px;
      margin: 30px;
      text-align: right;
      font: italic small-caps bold 48px;
      @include mobile{
        font-size: 24px;
        margin: 5px;
      }
    }

    img {
      width: 600px;
      height: auto;

      @include mobile{
        height: 100%;
        max-width: 400px;
        height: auto;
        }
      }
    }


    .contact_right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 30px;

      @include mobile{
        flex: none;
        max-width: 320px;
        margin: 0px;
      }

      .contact_links_style {
        display: flex;
        justify-content: flex-end;
        position: relative;
        right: 10%; // rotated 90deg becomes left

        a {
          z-index: 2;
          font-size: 1.1em;
          padding: 0px 20px 0px 20px;
          pointer-events: stroke;

          #a_icon {
              color: black;
              margin: 0%;
              opacity: none;
              pointer-events: stroke;
            }
        }
      }
    }
  }
}
