@import "../../global.scss";

.contact {
  background-color: $maincolor;
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .contact_container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile{
      flex: none;
      flex-direction: column;
    }

    .contact_left {
    overflow: hidden;
    justify-content: start;
    align-items: start;
    margin: 30px;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h4{
      font-style: italic;
      font-size: 48px;
      margin: 30px;
      text-align: right;
      font: italic small-caps bold 48px;

      @include mobile{
        font-size: 36px;
        margin: 5px;
        margin-bottom: 20px;
      }
    }

    h5 {
      top: 0%;
      font-style: italic;
      font-size: 32px;
      margin: 30px;
      text-align: right;
      font: italic small-caps bold 48px;
      @include mobile{
        font-size: 24px;
        margin: 5px;
      }
    }

    img {
      width: 600px;
      height: auto;

      @include mobile{
        height: 100%;
        max-width: 400px;
        height: auto;
        }
      }
    }


    .contact_right {
      display: flex;
      flex-direction: column;
      padding: 30px;

      @include mobile{
        flex: none;
        max-width: 320px;
        margin: 0px;
      }

      .contact_links_style {
        .contact_links_style:hover{
          background-color: rgba(58, 2, 77, 1);
        }

        a {
          display: flex;
          font-size: 22px;
          text-decoration: none;
          color: black;
          z-index: 1;
          justify-content: start;
          margin: 0px, 50px;
          padding-right: 0px 20px;
          :hover {
            cursor: pointer;
            font-size: 1.1em;
            pointer-events: stroke;
            width: auto;
            transition: 0.2s ease-in-out;
            align-items: center;
          }
          h1 {
            font-size: inherit;
            padding: 10px;
            margin: 10px;
          }
          #github {
            display: flex;
            padding: 10px;
            align-items: center;
          }
          #linkedin {
            display: flex;
            padding: 10px;
            align-items: center;
          }
          #email {
            display: flex;
            padding: 10px;
            align-items: center;
          }
          #resume {
            display: flex;
            padding: 10px;
            align-items: center;
          }
          #link-icon {
            padding: 20px;
          }
        }
      }
    }
  }
}
