@import "../../global.scss";

.contact {
  background-color: $maincolor;
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .contact_container {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .contact_left {
    overflow: hidden;
    justify-content: start;
    align-items: start;
    margin: 30px;

    h4{
      font-style: italic;
      margin: 30px;
      text-align: left;
      font: italic small-caps bold 48px;
    }

    p {
      width: 30vw;
      font-style: italic;
      font-size: 24px;
      margin: 30px;
      text-align: left;
      font: italic small-caps bold 48px;
    }

    h5 {
      top: 0%;
      font-style: italic;
      font-size: 32px;
      margin: 30px;
      text-align: left;
      font: italic small-caps bold 48px;

    }

    img {
      width: 600px;
      height: auto;
      // eslint-disable-next-line
      }
    }
    .contact_right {
      display: flex-start;
      flex-direction: column;
      margin-top: 50px;
      padding: 30px;
      height: 100%;

      .contact_links_style {
        padding: 10px;
        a {
          display: flex;
          text-decoration: none;
          color: black;
          z-index: 1;
          justify-content: start;
          margin: 0px 100px;
          padding-right: 0px 20px;
          :hover {
            cursor: pointer;
            background-color: rgba(58, 2, 77, 0.4);
            border-radius: 10px;
            pointer-events: stroke;
            width: auto;
            transition: 0.2s ease-in-out;
            align-items: center;
          }
            #github {
              display: flex;
              padding: 10px;
              align-items: center;
            }
            #linkedin {
              display: flex;
              padding: 10px;
              align-items: center;
            }
            #email {
              display: flex;
              padding: 10px;
              align-items: center;
            }
            #resume {
              display: flex;
              padding: 10px;
              align-items: center;
            }
            #link-icon {
              padding: 20px;
            }
          }
        }
      }
    }
  }

@media screen and (max-width: 768px) {
  .contact{
    display: flex;
    align-items: end;
    .contact_container {
      height: 75vh;
      width: 100%;
      padding-top: 100px;
      flex: none;
      flex-direction: column;
      .contact_left {
        align-items: center;
        h5 {
          font-size: 10px;
          margin: 0px;
        }
        h4 {
          font-size: 24px;
          margin: 5px;
          margin-bottom: 20px;
        }
        p {
          font-size: 12px;
        }
        img {
          height: 100%;
          max-width: 400px;
          height: auto;
        }
      }
    }
      .contact_right {
        height: 50%;
        flex: none;
        max-width: 320px;
        margin: 0px;
        .contact_links_style {
          a {
            h1 {
                font-size: 12px;
                padding: 10px;
                margin: 10px;
              }
            }
          }
        }
    }
  }
