@import "../../global.scss";

.contact {
  background-color: $maincolor;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  overflow: hidden;

  .contactContainer {
    top: 12.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container{
      width: 80vw;
      flex-direction: row;

      .left {
        flex: 0.4;
        overflow: hidden;
        width: 500px;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        img {
          width: auto;
          max-width: 400px;
          height: 100%;

          @include mobile{
          width: 100%;
          max-width: 400px;
          height: auto;
          }
        }
      }
      .right {
        flex: 0.6;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
          font-size: 30px;
        }

        form {
          width: 70%;
          height: 70%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          input {
            width: 300px;
            height: 30px;
            font-size: 14px;
            margin: 10px;

            @include mobile {
              width: 200px;
              height: 20px;
            }
          }

          textarea {
            width: 300px;
            height: 200px;
            font-size: 14px;
            margin: 10px;

            @include mobile {
              width: 200px;
              height: 100px;
            }
          }

          button {
            width: 150px;
            height: 30px;
            color: white;
            background-color: crimson;
            border: none;
            border-radius: 10px;
            font-weight: 500;
            cursor: pointer;

            &:focus {
              outline: none;
            }
          }

          span {
            color: green;
          }
        }
      }
    }
  }
}
