@import "../../global.scss";

.contact {
  background-color: $maincolor;
  display: flex;
  height: 100vh;
  scroll-snap-align: start;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .contact_container {
    width: 80vw;
    display: flex;
    justify-content: space-between;

    .contact_left {
    overflow: hidden;
    justify-content: start;
    align-items: start;
    margin: 30px;

    h4{
      font-style: italic;
      margin: 30px;
      text-align: left;
      font: italic small-caps bold 48px;
    }
    p {
      width: 30vw;
      font-style: italic;
      font-size: 24px;
      margin: 30px;
      text-align: left;
      font: italic small-caps bold 48px;
    }
    h5 {
      top: 0%;
      font-style: italic;
      font-size: 32px;
      margin: 30px;
      text-align: left;
      font: italic small-caps bold 48px;

    }
    img {
      width: 600px;
      height: auto;
      }
    }
    .contact_right {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      padding: 30px;
      .contact_links_style {
        padding: 10px;
        :hover {
          cursor: pointer;
          background-color: rgba(58, 2, 77, 0.3);
          border-radius: 10px;
          pointer-events: stroke;
          width: auto;
          transition: 0.2s ease-in-out;
          z-index: 2;
        }
      }
      a {
        display: flex;
        text-decoration: none;
        color: black;
        z-index: 1;
        justify-content: flex-start;
        margin: 0px 100px;
        & > * {
          padding: 10px;
          pointer-events: none;
        }
      }
    }
  }
}
#linkedin {
  display: flex;
  // padding: 10px;
  align-items: center;
  pointer-events: none;
}
#github {
  display: flex;
  // padding: 10px;
  align-items: center;
  pointer-events: none;
}
#email {
  display: flex;
  // padding: 10px;
  align-items: center;
  pointer-events: none;
}
#resume {
  display: flex;
  padding: 10px;
  align-items: center;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .contact{
    display: flex;
    align-items: flex-endend;
    .contact_container {
      display: flex;
      height: 75vh;
      width: 100%;
      padding-top: 100px;
      flex: none;
      flex-direction: column;
      .contact_left {
        max-width: 100%;
        height: auto;
        justify-content: center;
        align-content: center;
        margin: 0px;
        padding: 0px 30px;
        h5 {
          font-size: 20px;
          margin: 0px;
        }
        h4 {
          font-size: 26px;
          margin: 5px;
          margin-bottom: 20px;
        }
        p {
          width: 100%;
          display: inline-block;
          font-size: 14px;
          margin: 0px;
          padding: 10px 0px;
        }
      }
      .contact_right {
        margin: 0px;
        height: 50%;
        width: 80%;
        align-items: center;
        .contact_links_style {
          a {
            margin: 0px;
            align-items: center;
            justify-content: flex-end;
            & > * {
              font-size: 14px;
              text-align: left;
            }
            h5 {
              padding: 0px 10px;
            }
            #github {
              display: flex;
              padding: 10px;
              align-items: center;
            }

            #linkedin {
              display: flex;
              padding: 10px;
              align-items: center;
            }

            #email {
              display: flex;
              padding: 10px;
              align-items: center;
            }

            #resume {
              display: flex;
              padding: 10px;
              align-items: center;
            }

            #link-icon {
              padding: 20px;
            }
          }
        }
      }
    }
  }
}
