@import '../../global.scss';

.navbar {
  color: $maincolor;
  opacity: 0.7;
  width: 100vw;
  height: 12.5%;
  position: fixed;
  top: 0;
  z-index: 3;
  // transition: all 13s ease;
  cursor: pointer;


  .wrapper {
    width:100vw;
    padding:10px 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;


      .logo {
        font-size: 40px;
        font-weight:700;
        text-decoration:none;
        color:rgba(93, 133, 33, 1.1);
        margin-right: 40px;

        .logo:hover {
          display: none;
          content: "Reply!";
        }
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;
      }

      .icon {
        font-size: 18px;
        margin-right: 5px;
      }

      span {
        font-size: 15px;
        font-weight: 700;
      }
    }

    .right {
      padding-right: 30px;
      transform-origin: left;
      transition: all 2s ease;

      .active{
        color:black;
      }
    }
  }
}
