@import '../../global.scss';

.navbar {
  opacity: 0.7;
  width: 100vw;
  height: 12.5%;
  position: fixed;
  top: 0;
  z-index: 2;
  cursor: pointer;
  pointer-events:none;

  @include mobile {
    max-height: 12.5vh;
  }


  .wrapper {
    width:100vw;
    padding:10px 30px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      max-height: 12.5vh;
    }

    .left {
      pointer-events:fill;
      display: flex;
      align-items: center;


      .logo {
        width: 100%;
        height: auto;
        max-width: 120px;
        font-size: 40px;
        text-decoration:none;
        color:rgba(93, 133, 33, 1.1);
        // margin-right: 40px;

        .logo:hover {
          // display: none;
          // content: "Reply!";
        }
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;
      }

      .icon {
        font-size: 18px;
        margin-right: 5px;
      }

      span {
        font-size: 15px;
        font-weight: 700;
      }
    }

    .right {
      pointer-events:fill;
      padding-right: 30px;
      transform-origin: left;
      transition: all 2s ease;

      .active{
        color:grey;
        transition-duration: 3s;
      }
    }
  }
}
