@import '../../global.scss';

.navbar {
  color: $maincolor;
  width: 100%;
  height: 12.5%;
  position: fixed;
  top: 0;
  background-color: grey;
  z-index: 2;
}

.name-logo {
  // justify-content: space-between;
}
