@import '../../global.scss';


.container {
  height: 70vh;
  & > * {
    height: calc(70vh * (1/3));
  }
  .sidebar_logo {
    justify-content: center;
    filter: drop-shadow(10px 10px 10px grey);
    pointer-events: stroke;
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
    :hover img {
      transform: scale(1.2);
    }
    img {
      width: 100%;
      transition: 0.35s all ease-in-out;
    }
  }

  .sidebar_router {
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    .sidebar-routes {
      color: #000000;
      font-size: 24px;
      @include mobile
      {
        font-size: 12px;
      }
      font-weight: 600;
      letter-spacing: 1px;
      transition: 0.2s ease-out;
      pointer-events: stroke;
      :hover{
        width: 100%;
        font-size: 26px;
      }
    }
  }

  .sidebar_links {
    display: grid;
    width: 100%;
    padding: 30px 10px;
    .link__wrapper {
      display: flex;
      place-items: center;
      position: relative;
      justify-content: space-around;

      z-index: 1;
      font-size: 1.4em;
      padding: 0px 20px 0px 20px;
      :hover {
          font-size: 1.2em;
          width: auto;
          transition: 0.1s ease;
        }
      #a-linkedin {
        color: black;
        margin: 0%;
        opacity: none;
        pointer-events: stroke;
      }
      #a-github {
        color: black;
        border-radius: 50%;
        opacity: none;
        pointer-events: stroke;
      }

      #a-email {
        color: black;
        border-radius: 50%;
        opacity: none;
        pointer-events: stroke;
      }

      #a-resume {
        color: black;
        border-radius: 50%;
      }

      #tip-linkedin {
        color: black;
        pointer-events: stroke;
      }

      #tip-github {
        color: black;
        pointer-events: stroke;
      }

      #tip-email {
        color: black;
        border-radius: 75%;
      }

      #tip-resume {
        color: black;
        border-radius: 100%;
      }

      &.active {
        color: black;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-height: 15vh;
    max-width: auto;
    display: flex;
    justify-content: space-between;

    .sidebar_logo {
      height: 15vh;
      align-items: center;
      max-width: 100%;
      max-height: inherit;
      flex: 1;
      align-items: center;
      .a-logo{
        height: 15vh;
        img {
          align-content: center;
          max-width: 100%;
          height: auto;
        }
      }
    }

    .sidebar_router {
      height: 15vh;
      width: 100%;
      display: flex;
      flex: 2;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap;
      gap: 5px;
    }

    .sidebar_links {
      padding: 0px 0px;
      height: 15vh;
      width: 100%;
      flex: 1;
      flex-direction: column;
      justify-content: end;
      align-content: center;
      font-size: 12px;
      flex-wrap: wrap;

      .link__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: auto;

        a {
          padding: 0px 5px 0px 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-height: 15vh;
    max-width: auto;
    display: flex;
    justify-content: space-between;
    .sidebar_logo {
      max-width: 100%;
      max-height: auto;
      flex: 1;
      align-items: center;
      img {
        max-width: 75%;
        height: auto;
      }
    }
    .sidebar_router {
      height: 15vh;
      width: 100%;
      display: flex;
      flex: 2;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap;
      gap: 5px;
      a {
        font-size: 14px;
      }
    }
    .sidebar_links {
      padding: 0px 0px;
      height: 15vh;
      width: 100%;
      flex: 1;
      flex-direction: column;
      justify-content: end;
      align-content: center;
      font-size: 12px;
      flex-wrap: wrap;
      .link__wrapper {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: auto;
        a {
          padding: 0px 5px 0px 0px;
        }
      }
    }
  }
}
