@import '../../global.scss';


.container {
  height: 70vh;

  & > * {
    height: calc(70vh * (1/3));
  }
  @include mobile {
    max-height: 15vh;
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
  }

  .sidebar_logo {
    display: grid;
    place-items: center;
    @include mobile {
      max-height: 15vh;
      flex: 1;
      justify-content: start;
      a:hover{
        height:15vh;
      }
      img {
        max-width: 20vw;
        display: flex;
      }
    }

    a {
      display: grid;
      place-items: center;
      object-fit: cover;
      :hover {
        height: calc(70vh * (2/7));
        width: auto;
        transition: 2s ease-out;
      }
      img {
        pointer-events: stroke;
        opacity: 1;
      }
    }
  }

  .sidebar_router {
    display: grid;
    place-items: center;
    color: rgb(43, 43, 50);
    @include mobile {
      height: 15vh;
      width: 100%;
      display: flex;
      flex: 2;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap;
      gap: 5px;
      a {
        font-size: 14px;
      }
    }
  }

  a {
    color: #000000;
    font-size: 24px;
    font-weight: 600;
    font-style: medium;
    letter-spacing: 1px;
    transition: 0.2s ease-out;
    pointer-events: stroke;
    :hover{
      color:inherit;
      transition: 0.2s ease;
      font-weight: 800;
    }
  }

  .sidebar_links {
    display: grid;
    top: 50%;
    left: 50%;
    padding: 30px 10px;
    @include mobile {
      padding: 0px 0px;
      height: 15vh;
      width: 100%;
      flex: 1;
      flex-direction: column;
      justify-content: end;
      align-content: center;
      font-size: 12px;
      flex-wrap: wrap;
      .link__wrapper{
        display: flex;
        flex-direction: column;
      }
    }

    .link__wrapper {
      display: flex;
      place-items: center;
      position: relative;
      justify-content: space-around;

      a {
        z-index: 2;
        font-size: 1.4em;
        padding: 0px 20px 0px 20px;
        pointer-events: stroke;
        @include mobile {
          padding: 0px 5px 0px 0px;
        }
        :hover {
            font-size: 1.2em;
            width: auto;
            transition: 0.2s ease;
          }
      }

      #a-linkedin {
        color: black;
        margin: 0%;
        opacity: none;
        pointer-events: stroke;
      }


      #a-github {
        color: black;
        border-radius: 50%;
      }

      #a-email {
        color: black;
        border-radius: 50%;
      }

      #a-resume {
        color: black;
        border-radius: 50%;
      }

      #tip-linkedin {
        color: black;
        pointer-events: stroke;
      }

      #tip-github {
        color: black;
        pointer-events: stroke;
      }

      #tip-email {
        color: black;
        border-radius: 75%;
      }

      #tip-resume {
        color: black;
        border-radius: 100%;
      }

      &.active {
        color: black;
      }
    }
  }
}
