@import '../../global.scss';


.container {
  height: 70vh;

  & > * {
    height: calc(70vh * (1/3));
  }
  .sidebar_logo {
    display: grid;
    place-items: center;

    a {
      display: grid;
      place-items: center;
      object-fit: cover;
      :hover {
        height: calc(70vh * (2/7));
        filter: grayscale(80%);
        width: auto;
        transition: 2s ease-out;
      }
      img {
        pointer-events: stroke;
        opacity: 1;
      }
    }
  }
  .sidebar_router {
    display: grid;
    place-items: center;
    color: rgb(43, 43, 50);

    a {
      color: rgb(43, 43, 50);
      font-size: 24px;
      font-weight: 600;
      font-style: medium;
      letter-spacing: 1px;
      transition: 0.2s ease-out;
      pointer-events: stroke;
      :hover{
        color:inherit;
        transition: 0.2s ease;
        font-weight: 800;
      }
    }
  }

  .sidebar_links {
    display: grid;
    top: 50%;
    left: 50%;
    padding: 30px 10px;

    .link__wrapper {
      display: flex;
      place-items: center;
      position: relative;
      justify-content: space-between;

      a {
        z-index: 2;
        font-size: 1.4em;
        padding: 0px 20px 0px 20px;
        pointer-events: stroke;
        a:hover {
            font-size: 1.2em;
            width: auto;
            transition: 0.2s ease;
          }
        @include mobile {
          padding: 0px 5px 0px 5px;
        }
      }

      #a-linkedin {
        color: black;
        margin: 0%;
        opacity: none;
        pointer-events: stroke;
      }


      #a-github {
        color: black;
        border-radius: 50%;
      }

      #a-email {
        color: black;
        border-radius: 50%;
      }

      #a-resume {
        color: black;
        border-radius: 50%;
      }

      #tip-linkedin {
        color: black;
        pointer-events: stroke;
      }

      #tip-github {
        color: black;
        pointer-events: stroke;
      }

      #tip-email {
        color: black;
        border-radius: 75%;
      }

      #tip-resume {
        color: black;
        border-radius: 100%;
      }

      &.active {
        color: black;
      }
    }
  }
}
