@import '../../global.scss';

.intro {
  background-color: $maincolor;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  scroll-snap-align: start;
  scroll-behavior: smooth;


  h1{
    overflow: hidden;
  }

  h2{
    overflow: hidden;
  }
}
