@import '../../global.scss';

.intro {
  background-color: $maincolor;
  background-image: url('https://res.cloudinary.com/cgilv6/image/upload/v1644181827/camfolio/joshua-sky-nobg_xk4gln.png');
  background-size: 100%;
  // box-shadow: 20px 1px 10px gray;
  display: flex;
  scroll-snap-align: start;
  align-items: center;
  justify-content: center;
  // overflow: hidden;

  @include mobile {
    background-size: cover;
    background-position: center;
  }

  .intro_container{
    display: flex;
    @include mobile {
      flex-direction: column;
    }

    .left{
      top: 12.5%;
      padding-top: 150px;

      @include mobile{
        padding-left: 15px;
        padding-bottom: 75px;
      }

      h1{ overflow: hidden; }

      h2{ overflow: hidden; }
    }
    .right{

      @include mobile{
        max-width: 240px;
        height: 50vh;

      }

      img{
        padding-top: 240px;

        @include mobile{
          max-width: 300px;
          height: 100%;
          padding-bottom: 75px;
        }
      }
    }
  }
}
