@import '../../global.scss';

.footer {
  width: 100%;
  height: 12.5%;
  top: 87.5%;
  opacity: 0.7;
  overflow: hidden;
  align-content: center;
  position: fixed;

  .items{
    display: flex;
    justify-content: space-between;
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    top: 93.75vh;
    padding: 10px 30px;

    .nav__dots{
      position: relative;
      left: 10%; // rotated 90deg becomes left
      bottom: 5%; // rotated 90deg becomes bottom
      margin: 0;
      display: flex;
      flex-direction: row;
      z-index: 4;

      @include mobile{
        left: 5%;
        padding: 1px;
        align-items: center;
      }

      .dot{
        height: 20px;
        width: 20px;
        background-color:black;
        display: flex;
        justify-content: space-between;
        border-radius: 50%;
        cursor: pointer;
        z-index: 3;
        margin-right: 20px;

        @include mobile{
          height: 10px;
          width: 10px;
          margin-left: 2px;
        }
        .nav__dots.first__current #dot1{
          height: 15px;
          width: 15px;
          border-color: lightgray;
          border-radius: 20px;
          margin-top: 3px;
        }

        .nav__dots.first__current #dot2{
          height: 15px;
          width: 15px;
          border-color: lightgray;
          border-radius: 20px;
          margin-top: 3px;

        }

        .nav__dots.first__current #dot3{
          height: 15px;
          width: 15px;
          border-color: lightgray;
          border-radius: 20px;
          margin-top: 3px;

        }

        .nav__dots.first__current #dot4{
          height: 15px;
          width: 15px;
          border-color: lightgray;
          border-radius: 20px;
          margin-top: 3px;

        }
      }
    }

      .link__wrapper {
        display: flex;
        justify-content: end;
        position: relative;
        right: 10%; // rotated 90deg becomes left

        a {
        z-index: 2;
        font-size: 1.1em;
        padding: 0px 20px 0px 20px;
        pointer-events: stroke;

        // a:hover{
          //   background-color: blue;
          //   transition: all 3s ease;
          // }

          @include mobile {
            padding: 0px 5px 0px 5px;
          }
        }

        #a-linkedin{
        color:black;
        margin: 0%;
        opacity: none;
        pointer-events: stroke;
      }


      #a-github{
        color:black;
        border-radius: 50%;
      }

      #a-email{
        color:black;
        border-radius: 50%;
      }

      #a-resume{
        color:black;
        border-radius: 50%;
      }

      #linkedin{
        color:black;
        pointer-events: stroke;
        border-radius: 50%;
        z-index: 1;
      }

      #github{
        color:black;
        pointer-events: stroke;
      }

      #email{
        color:black;
        border-radius: 75%;
      }

      #resume{
        color:black;
        border-radius: 100%;
      }

      &.active {
        color: black;
      }
    }
  }
}
