@import '../../global.scss';

.footer {
  color: $maincolor;
  opacity: 0.7;
  width: 100%;
  height: 12.5%;
  top: 87.5%;
  position: fixed;
  background-color:rgba(54, 26, 26, 0);
  z-index: 2;
  transition: all 1s ease;
  overflow: hidden;
  display:flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    display:flex;
    justify-content: center;
    padding: 0px 100px 0px 100px;

    a {
      color:black;
      z-index: 2;
      font-size: 1.1em;
      padding: 0px 35px 0px 35px;

      a:hover{
        color:blue;
        box-shadow: inset 0 0 0 blue;
      }

      #linkedin{
      }
      #github{

      }
      #email{

      }
      #resume{

      }
    }

    &.active {
      background-color: $maincolor;
      color: black;
    }
  }
}
