@import '../../global.scss';

.footer {
  width: 100%;
  height: 12.5%;
  top: 87.5%;
  opacity: 0.7;
  position: fixed;
  overflow: hidden;
  display:flex;
  align-items: center;
  justify-content: center;

  .nav__dots{
    position: fixed;
    // bottom: 30%;
    left: 10%; // rotated 90deg becomes left
    bottom: 5%; // rotated 90deg becomes bottom
    margin: 0;
    display: flex;
    flex-direction: row;
    z-index: 4;
    // transform: scale(1) translate(-100%, -100%);
    // position: sticky;
  }
  // Youre gonna have to move this to footer and create an onclick that leads to the sections class viewport.

  .dot{
    height: 20px;
    width: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    // transform: translate(100%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 4;
  }

  .sections.first-active:first-child{
    margin-left: 0;
  }

  .sections.first-active:nth-child(2){
    margin-left: -100%;
  }

  .sections.first-active:nth-child(3){
    margin-left: -200%;
  }

  .sections.first-active:nth-child(4){
    margin-left: -300%;
  }

  .nav__dots.first-current #dot1{
    background-color: coral;
  }

  .nav__dots.second-current #dot2{
    background-color: coral;
  }

  .nav__dots.third-current #dot3{
    background-color: coral;
  }

  .nav__dots.fourth-current #dot4{
    background-color: coral;
  }

  .wrapper {
    display: flex;
    justify-content: end;
    // padding: 0px 100px 0px 100px;

    a {
      z-index: 2;
      font-size: 1.1em;
      padding: 0px 35px 0px 35px;
      pointer-events: stroke;
      margin: 0;

      a:hover{
        background-color: blue;
        transition: all 3s ease;
      }
    }

    #a-linkedin{
      color:grey;
      margin: 0%;
      opacity: none;
      pointer-events: stroke;
    }


    #a-github{
      color:grey;
      border-radius: 50%;
    }

    #a-email{
      color:grey;
      border-radius: 50%;
    }

    #a-resume{
      color:grey;
      border-radius: 50%;
    }

    #linkedin{
      color:black;
      pointer-events: stroke;
      border-radius: 50%;
      z-index: 1;
    }

    #github{
      color:black;
      pointer-events: stroke;
    }

    #email{
      color:black;
      border-radius: 75%;
    }

    #resume{
      color:black;
      border-radius: 100%;
    }

    &.active {
      color: black;
    }
  }
}
