@import '../../global.scss';

.footer {
  color: $maincolor;
  width: 100%;
  height: 12.5%;
  position: fixed;
  top: 87.5%;
  background-color:rgba(211, 211, 211, 1);
  z-index: 3;
  transition: all 1s ease;
  overflow: hidden;

  .wrapper {
    width: 100%;
    padding:50px;
    display:flex;
    align-items: center;


    &.active {
    background-color: $maincolor;
    color: white;
    }
  }
}
