@import './global.scss';

.app {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display:none;
    width: none;
  }
}
.sidebar {
  background-color: rgb(154, 149, 149);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  padding-left: 30px;
  z-index: auto;
  cursor: pointer;
  pointer-events: none;
  @include mobile {
    max-height: 15vh;
  }
}

.sections {
  display: grid;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  padding-left: 0px;
  overflow: hidden;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display: none;
    width: none;
  }
}

// Parent container (CSS Horizontal transform)
// transform: rotate(-90deg) translateX(-100vh);
// transform-origin: top left;


// Child container (CSS Horizontal transform)
// transform: rotate(90deg) translateY(-100vh);
// transform-origin: top left;

// Diagonal page limits to be impletmented later:
// clip-path: polygon(0 2%, 100% 0%, 100% 98%, 0 100%);
