@import './global.scss';

.app {
  height: 100vh;
  width: 100vw;

  .sections {
    width:100vw;
    height:calc(100vh - 12.5%);
    background-color: salmon;
    text-align: center;
    position: relative;
    top: 12.5%;
    scroll-behavior: smooth;
    scroll-snap-type: both mandatory;
    overflow-y: scroll;
    // clip-path: polygon(0 2%, 100% 0, 100% 98%, 0 100%);
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar{
      display:none;
    }

    > *{
      width: 100%;
      height: calc(100vh - 12.5%);
      scroll-snap-align: start;
      }
  }
}
