@import './global.scss';

.app {
  height: 100vh;
  width: 100vw;

  .sections {
    width:100vw;
    max-width: 100%;
    height:calc(100vh - 12.5%);
    background-color: salmon;
    text-align: center;
    position: relative;
    display:flex;
    top: 12.5%;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    // scroll-snap-align: center;
    overflow-x: scroll;
    overflow-y: scroll;
    // clip-path: polygon(0 2%, 100% 0%, 100% 98%, 0 100%);
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar{
      display:none;
    }

    > * {
      width: 100%;
      height: calc(100vh - 12.5%);
      scroll-snap-align: start;
      flex: none;
      }
  }
}
