@import './global.scss';

.app {
  height: 100vh;
  width: 100vw;

  .sections {
    width:100vw;
    height:calc(100vh - 50px);
    // background-color: salmon;
    text-align: center;
    position: relative;
    top: 50px;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar{
      display:none;
    }

    > *{
      width: 100%;
      height: calc(100vh - 50px);
      scroll-snap-align: start;
      }
  }
}
