@import "global.scss";

.sections {
  width: 100vh;
  height: 100vw;
  top:0;
  bottom:100;
  transform: rotate(-90deg) translateX(-100vh);
  overflow: hidden;
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  // scroll-snap-type: x mandatory; // UNCOMMENT TO REVERT
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display:none;
    width: none;
  }
  & > * {
    width: 100vw;
    height: 200vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
      display:none;
      width: none;
    }
  }
  .sectionsContainer {
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
    transform: rotate(90deg) translateY(-100vh);
    width: 400vw;
    height:100vh;
    transform-origin: top left;
  }
}
