@import "global.scss";

.sections {
  width: 100vw;
  height: 100vh;
  flex: none;
  display: flex;
  overflow: auto;
  // overflow-x: scroll;
  // overflow-y: scroll;
  position: absolute;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display:none;
  width: none;
  // scroll-snap-type: x mandatory;

  @include mobile {
    max-height: 400vh;
  }

  // & > * {
    //   scrollbar-width: none;
    //   -ms-overflow-style: none;
    //   ::-webkit-scrollbar {
      //     display:none;
      //     width: none;
      //   }

      @include mobile {

      }

      .sectionsContainer {
        width: 100vw;
        height: 100vh;
        flex: none;
        display: flex;
        // flex-direction: row;


        //     width: 400vw;
        // height:100vh;
      }
    }


    // Parent container (CSS Horizontal transform)
    // transform: rotate(-90deg) translateX(-100vh);
    // transform-origin: top left;


    // Parent container (CSS Horizontal transform)
    // transform: rotate(90deg) translateY(-100vh);
    // transform-origin: top left;
