@import "global.scss";

.sections {
  background-color: $maincolor;
  width: 100vh;
  height: 100vw;
  top:0;
  bottom:100;
  transform: rotate(-90deg) translateX(-100vh);
  overflow: hidden;
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  ::-webkit-scrollbar {
    display:none;
    width: none;
  }
  & > * {
    width: 100vw;
    height: 200vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    ::-webkit-scrollbar {
      display:none;
      width: none;
    }
  }
  .sectionsContainer {
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
    transform: rotate(90deg) translateY(-100vh);
    width: 400vw;
    height:100vh;
    transform-origin: top left;
  }

  .nav__dots{
    position: absolute;
    bottom: 6.25%;
    z-index: 9;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    position: sticky;
  }

  .dot{
    height: 20px;
    width: 20px;
    background-color: black;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 4;
    position: sticky;
  }

  .sectionsContainer.first-active:first-child{
    margin-left: 0;
  }

  .sections.second-active:first-child{
    margin-left: -100%;
  }

  .sections.third-active:first-child{
    margin-left: -200%;
  }

  .nav__dots.first-current #dot1{
    background-color: coral;
  }

  .nav__dots.second-current #dot2{
    background-color: coral;
  }

  .nav__dots.third-current #dot3{
    background-color: coral;
  }
}
